.App {
  text-align: center;
}

.box {
  /* display: block; */
  border: 2px solid aqua;
  margin: 8px auto;
  background-color: darkslategray;
  width: 250px;  
  box-sizing: border-box;
}

.h2 {
  background-color:#282c34 ;
  color: white;
  font-weight:normal;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.cardbox {
  display: flex;
  justify-content: space-around;
  gap: 15px;
  border: 2px solid aqua;
  margin: 3px;
  flex-wrap: wrap;
}
.cardbox {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  background-color: darkslategray;
  height: 100px;
  width: 40vw;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}