.grid{
    position: absolute;
    width:1110px ;
    height:500px;
    background-color: black;
    border: solid black 1px;
    margin-top: 80px; 
    margin-left: 100vh;
}
.block{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: rgb(255, 196, 0);
    
}
.user{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: rgb(252, 10, 252) ;
}
.ball{
   
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: rgb(255, 63, 4) ;
}